<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="KJ3fEe8sss.TravelAgent"
        version="1.0.0">
  <name>TravelAgent</name>
  <tizen:application id="KJ3fEe8sss.TravelAgent"
                     package="KJ3fEe8sss"
                     required_version="4.0" />
  <content src="index.html" />
  <icon src="icon.png" />
  <access origin="*" subdomains="true" />
  <tizen:privilege name="http://tizen.org/privilege/internet" />
  <tizen:privilege name="http://tizen.org/privilege/network.get" />
  <feature name="http://tizen.org/feature/screen.size.all" />
  <tizen:setting pointing-device-support="disable" />
</widget>
